section#footer {
    background-color: #5B5B5B;
    color: #fff;
    padding-top: 80px;

    p {
        text-align: center;
        letter-spacing: 0.16em;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-top: 80px;
    }

    .footer__item {

        .footer__link {
            padding-bottom: 25px;
            transition: all .3s ease-in;

            &:hover {
                color: brown;
                text-decoration: underline;
            }
        }

        .logos {
            gap: 1rem;
            padding-bottom: 25px;
        }

        .button__footer {
            @extend %button;
            all: unset;
            padding: 8px 11px;
            background-color: $yellow;
            color: #fff;
            display: inline-block;
            margin-top: 2rem;
        }
    }

    .flex {
        align-items: center;
        justify-items: center;
        align-content: start;
    }

    a {
        display: block;
    }

    .footer__text {
        h2 {
            text-align: right;
            font-weight: 800;
            font-size: 130px;
            line-height: 110%;
            color: #5B5B5B;
        }
    }
}