%button {
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 17px;
    background-color: $yellow;
    border: none;
    transition: all .3s ease-in;
    &:hover {
        background-color: crimson;
        color: black;
        text-decoration: underline;
    }
}